variables:
  PLATFORMS: "linux/arm64/v8,linux/amd64"
  DOCKER_BUILDKIT: "1"
  BASE_IMAGE: python
  FF_NETWORK_PER_BUILD: "true"

build:
  image: docker:latest@sha256:a284d31e4db9a9916fd9be44380263eaeafedf0e3048a859f978922b5a0c16fc
  services:
    - docker:dind@sha256:a284d31e4db9a9916fd9be44380263eaeafedf0e3048a859f978922b5a0c16fc

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffux for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

  script:
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker pull "${BASE_IMAGE}:${PYTHON_VERSION}" || true

    # Install QEMU emulation support in the kernel
    # See: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images
    - docker run --privileged --rm tonistiigi/binfmt --install all

    # Create a buildx instance if one doesn't already exist
    - if [ "$(docker buildx ls | grep docker-container  | wc -l)" -le "0" ]; then
      docker context create buildx-build;
      docker buildx create --use buildx-build;
      fi

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --build-arg PYTHON_VERSION=$PYTHON_VERSION
      --build-arg NODE_VERSION=$NODE_VERSION
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --target $TARGET_STAGE
      --file Dockerfile .
      --push

  parallel:
    matrix:
      # Python
      - TARGET_STAGE: python
        PYTHON_VERSION: "3.13@sha256:c8b03b4e98b39cfb180a5ea13ae5ee39039a8f75ccf52fe6d5c216eed6e1be1d"
        MUTABLE_TAG_NAME: "3.13"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}"

      - TARGET_STAGE: python
        PYTHON_VERSION: "3.14@sha256:17bc9f1d032a760546802cc4e406401eb5fe99dbcb4602c91628e73672fa749c"
        MUTABLE_TAG_NAME: "3.14"
        IMMUTABLE_TAG_NAME: "3.14.${CI_PIPELINE_IID}"

      # Python + Node 22
      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.13@sha256:c8b03b4e98b39cfb180a5ea13ae5ee39039a8f75ccf52fe6d5c216eed6e1be1d"
        NODE_VERSION: "22"
        MUTABLE_TAG_NAME: "3.13-node22"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node22"

      # Python + Node 24
      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.13@sha256:c8b03b4e98b39cfb180a5ea13ae5ee39039a8f75ccf52fe6d5c216eed6e1be1d"
        NODE_VERSION: "24"
        MUTABLE_TAG_NAME: "3.13-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"

      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.14@sha256:17bc9f1d032a760546802cc4e406401eb5fe99dbcb4602c91628e73672fa749c"
        NODE_VERSION: "24"
        MUTABLE_TAG_NAME: "3.14-node24"
        IMMUTABLE_TAG_NAME: "3.14.${CI_PIPELINE_IID}-node24"
