variables:
  PLATFORMS: "linux/arm64/v8,linux/amd64"
  DOCKER_BUILDKIT: "1"
  BASE_IMAGE: python

build:
  image: docker:latest@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac
  services:
    - docker:dind@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac

  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        TAG_SUFFIX: "-mr${CI_MERGE_REQUEST_IID}"
    # No suffux for default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      variables:
        TAG_SUFFIX: ""

  script:
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_JOB_TOKEN}" "${CI_REGISTRY}"
    - docker pull "${BASE_IMAGE}:${PYTHON_VERSION}" || true

    # Install QEMU emulation support in the kernel
    # See: https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images
    - docker run --privileged --rm tonistiigi/binfmt --install all

    # Create a buildx instance if one doesn't already exist
    - if [ "$(docker buildx ls | grep docker-container  | wc -l)" -le "0" ]; then
      docker context create buildx-build;
      docker buildx create --use buildx-build;
      fi

    - docker buildx build
      --platform "$PLATFORMS"
      --pull
      --build-arg BASE_IMAGE=$BASE_IMAGE
      --build-arg PYTHON_VERSION=$PYTHON_VERSION
      --build-arg NODE_VERSION=$NODE_VERSION
      --cache-from "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${MUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --tag "${CI_REGISTRY_IMAGE}:${IMMUTABLE_TAG_NAME}${TAG_SUFFIX}"
      --target $TARGET_STAGE
      --file Dockerfile .
      --push

  parallel:
    matrix:
      # Python
      - TARGET_STAGE: python
        PYTHON_VERSION: "3.12@sha256:f16c5946bd6f77e68bcb5aa1639423832c9661018e3307c060207e4a57ceff82"
        MUTABLE_TAG_NAME: "3.12"
        IMMUTABLE_TAG_NAME: "3.12.${CI_PIPELINE_IID}"

      - TARGET_STAGE: python
        PYTHON_VERSION: "3.13@sha256:ba2cbe9b8e5f68fa2c7b4779bfa8f703d08872291f8ed525be949d705615ae10"
        MUTABLE_TAG_NAME: "3.13"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}"

      # Python + Node 20
      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.12@sha256:f16c5946bd6f77e68bcb5aa1639423832c9661018e3307c060207e4a57ceff82"
        NODE_VERSION: "20"
        MUTABLE_TAG_NAME: "3.12-node20"
        IMMUTABLE_TAG_NAME: "3.12.${CI_PIPELINE_IID}-node20"

      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.13@sha256:ba2cbe9b8e5f68fa2c7b4779bfa8f703d08872291f8ed525be949d705615ae10"
        NODE_VERSION: "20"
        MUTABLE_TAG_NAME: "3.13-node20"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node20"

      # Python + Node 22
      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.13@sha256:ba2cbe9b8e5f68fa2c7b4779bfa8f703d08872291f8ed525be949d705615ae10"
        NODE_VERSION: "22"
        MUTABLE_TAG_NAME: "3.13-node22"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node22"

      # Python + Node 24
      - TARGET_STAGE: python-node
        PYTHON_VERSION: "3.13@sha256:ba2cbe9b8e5f68fa2c7b4779bfa8f703d08872291f8ed525be949d705615ae10"
        NODE_VERSION: "24"
        MUTABLE_TAG_NAME: "3.13-node24"
        IMMUTABLE_TAG_NAME: "3.13.${CI_PIPELINE_IID}-node24"
